ul{
    list-style: none;
    padding: 0;
}
.qt-list{
    height: 100%;
    margin-top: 10px;
    padding: 0 10px;
    overflow: hidden;
}
.xq_img{
    width: 40px;
    height: 100%;
    margin-left:10px;
    float: left;
}
.xq_img img{
    width: 40px;
    height: 40px;
}
.qt-info{
    text-align: right;
}
.xq_content{
    width: 660px;
    height: 100%;
    float: left;
    margin-left: 10px;
}
.title-link{
    text-decoration: none;
    font-weight: 900;
    color: red;
}