{% extends 'base.html' %}
{% block title %}登录{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/login_reg.css') }}">
{% endblock %}
{% block body %}
    <h3 class="xq_title">登 录</h3>

        <div class="login">
            <form action="" method="post">
                  <div class="form-group">
                    <input type="text" name="telephone" class="form-control" id="exampleInputEmail1" placeholder="手机号">
                  </div>
                  <div class="form-group">
                    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="密码">
                  </div>
                  <button type="submit" class="btn btn-default btn-block btn-primary">登陆</button>
            </form>
             {% if content %}
                <div class="form-group">
                    <div class="alert alert-danger alert-dismissible xq-center" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <strong>提示!</strong> {{ content }}
                    </div>
                </div>
            {% endif %}
         </div>

{% endblock %}