{% extends 'base.html' %}
{% block title %}文件上传{% endblock %}
{% block head %}
{% endblock %}
{% block body %}
    <form action="" method="post">
        <div class="xq-center">
            <div class="form-group">
                    <input type="file" name="file">
                    <div>
                        <span><img src="" alt=""></span>
                    </div>
            </div>
                    <button class="btn btn-primary" type="submit">提 交</button>
        </div>
    </form>
    
{% endblock %}